* {
    padding: 0;
    margin: 0;
  }
body {
  font-family: 'roboto';
}

h1 , h2 , footer {
  font-size: 3,5em;
  background-color: #3F4E4F;
}
h2 { 
  color: #fff;
}
.separacion {
  letter-spacing: 3px;
}
p {
  font-size: 2em;
}
ul, ol {
  list-style: none;
}

/*** BARRA DE NAV ***/  

.nav-item {
    background-color: #fff;
    .nav-link {
      font-family: "SF_Collegiate_Solid";
      text-transform: uppercase;
      list-style-type: none;
      display: flex;
      color: black;                
    }
}
.nav-link:hover {
  color: #73A9AD
  }
.lgoauto {
    height: 100px;
    width: auto;
}
/**** CAROUSEL ****/
.carousel-item img{
  width: 100%;
  transform: none;
}
@media (min-width: 1024px){
  .carousel-inner{
      height: 70vh;
  }

  .carousel-item img{
  transform: translateY(-150px);
  }
}
.better{
  --bs-gutter-x:0;
}
.imagen{
  height: fit-content;
}
/*** info contenedor ***/
.contenedorTextoAuto {
  font-size: 2.0em;
  color: #FFF4F4;
  border: 5px solid #016392 ;
}
/*** COMPRA ***/
.containerCompra , .containerClientes {
  border: 5px solid #016392;   
  .compra , .clientes {
    justify-content: space-between;
    border-top: 1px solid #016392 ;
    padding: 20px;
    
    img {
      transition: transform .3s ease;
      object-fit: cover;
      object-position: center;
    }
    img:hover {
      transform: scale(1.1); 
      
    }
  }

}


/**** CLIENTES ****/
//   @keyframes scale {
//     0%{
//       -webkit-transform: scale(1);
//       transform: scale(1);
//     }
    
//     50%{
//       -webkit-transform: scale(0.01);
//       transform: scale(0.01);
//     }
    
//     100%{
//       -webkit-transform: scale(1);
//       transform: scale(1);
//     }
// }
