* {
    padding: 0;
    margin: 0;
  }
body {
  background-color: #fff;
}
h1 {font-size: 3,5em;}
h2 {font-size: 2,7em;}
p {font-size: 2em;}
ul {list-style: none;}

  
.menu {
    background-color: #016392;
    width: 100%;
    height: auto;
  &__logo {
      @include centrado (flex, center);
      width: 100%;
      height: 100px;
    }
  &__barra {
      @include centrado (flex, center);
      background-color: #016392;
      &__item {
          background-color: #fff;
          text-transform: uppercase;
          list-style-type: none;
          padding: 10px;
          font-size: 20px;
            a:hover {
            color: #73A9AD
            }  
    }
  }
}