body {
    background-color: #fff;
}
header {
    background-color: #016392;
}
.containerCompra , .containerClientes, .contenedorTextoAuto {
    background-image: linear-gradient(to bottom,#016392, #48778d, #788389)
}
footer {
    background-color: #3F4E4F;  
}

h1 , h2 {
    background-color: #016392;
}
h3 , .footertext {
    color: #fff;
}