/**** COLORES ****/
nav {
    background-color:  #016392;
}
footer {
    background-color: #231f20;
}
.textoPrincipal {
    background-color: black;
}
.textoSecundario {
    background-color: #DDE6ED;
}

/*** SQUARES ***/

